[Desktop Entry]
Encoding=UTF-8
Name=Project NOW
Comment=Enhance your GeForce NOW application experience!
Terminal=false
Type=Application
Exec=/opt/project-now/project-now
Icon=net.astralvixen.projectnow
StartupWMClass=project now
Categories=Network;Game;
StartupNotify=false
Keywords=Game;Streaming;Nvidia;GeForce;NOW;GFN;Project;
MimeType=x-scheme-handler/projectnow;